<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lj.cloudbox.mapper.UserMapper">
    <resultMap id="userMap" type="User">
        <result column="homeFile" property="homeFile" javaType="FileItem" typeHandler="com.lj.cloudbox.mapper.typeHandler.FileItemTypeHandler"/>
        <result column="sex" property="sex" javaType="String" typeHandler="com.lj.cloudbox.mapper.typeHandler.SexTypeHandler"/>
    </resultMap>

    <select id="getHome" resultType="java.lang.String">
        select `name` from file_item,`user` where user.uid = #{uid} and user.home_file = file_item.fid
    </select>
    <select id="login" resultMap="userMap">
        select * from user where email = #{email} and `password` = #{password}
    </select>
    <select id="searchUser" resultMap="userMap">
        select * from user where uid = #{searchStr} or username = #{searchStr} or email = #{searchStr}
    </select>

</mapper>